LABS/LAb0-06/Flows/flow-1-RSS-SRVC-UPLOADER.json
[{"id":"ae2a3ca4.c1e81","type":"tab","label":"RSS-SRVC-UPLOADER","disabled":false,"info":"Upload and parse RSS head line"},{"id":"2ec74d25.2dbac2","type":"feedparse","z":"ae2a3ca4.c1e81","name":"RSS-CENSOR","url":"https://censor.net.ua/includes/news_en.xml","interval":15,"x":120,"y":180,"wires":[["15dac6a8.1fe869"]],"info":"\n\nhttps://rss.app/feeds/ej0I59Vp9wrMWcud.xml\n\nhttps://censor.net.ua/includes/news_en.xml"},{"id":"fd270c61.3e8298","type":"function","z":"ae2a3ca4.c1e81","name":"CENZOR-RSS-PARSER","func":"/**\nThe msg.topic contains the original \narticle link. The msg.payload contains \nthe description, and msg.article contains the \ncomplete article object, which has properties \nsuch as .title, .summary, .date and so on.\n*/\n\n\n\nvar rout={\n    news_type: 'RSS',\n    news_produser: 'CENZOR',\n    news_guid:  msg.article.guid,\n    news_link:  msg.article.link,\n    news_url:   msg.topic,\n    new_title:  msg.title,\n    news_date:  msg.article.date\n\n};\n\n\n// збираю  структуру - вкладення\nvar rnews = {};\n\nrnews = { article: msg.article,\n          topic:   msg.topic,\n          title:   msg.title,\n          payload: msg.payload\n         };\n\n\n/** Готую вкладення*/\n// 1. перевожу вкладення в string\nvar s = JSON.stringify(rnews);\n\n//2. Кодую вкладення в BASE64\nvar b = new Buffer(s);\nvar sb64 = b.toString('base64');\n\n//3. Додаю структуру attachments для вкладення файлу\nmsg.payload = {\n  \"rss\": rout,    \n  \"_attachments\": {\n    \"rss_data.json\": {\n      \"content_type\": \"application/json\",\n      \"data\": sb64\n    }\n  }\n}\n\n\n\nif (msg.payload === null){\n    \n    console.log('BBC:=' + 'msg.payload === null');\n}\n\nmsg.article=null;\nmsg.topic=null;\nmsg.title=null;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["d24318ef.c45a4","3bc140fa.2199f"]]},{"id":"3bc140fa.2199f","type":"cloudantplus-selector out","z":"ae2a3ca4.c1e81","name":"censor.dbx1.insert","cloudant":"","database":"dbx1","service":"node-red-app-cloudant-1580722484242-67617","payonly":true,"operation":"insert","x":810,"y":180,"wires":[["844173e7.7b5b3"]]},{"id":"d24318ef.c45a4","type":"debug","z":"ae2a3ca4.c1e81","name":"CENZOR.dbg.1.2","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":540,"y":240,"wires":[]},{"id":"844173e7.7b5b3","type":"debug","z":"ae2a3ca4.c1e81","name":"CENZOR.dbg.1.3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":820,"y":280,"wires":[]},{"id":"49aa150e.8d2964","type":"feedparse","z":"ae2a3ca4.c1e81","name":"RSS-BBC-NEWS","url":"https://rss.app/feeds/ej0I59Vp9wrMWcud.xml","interval":"15","x":120,"y":40,"wires":[["f8c50eca.2dac48"]],"info":"https://rss.app/feeds/ej0I59Vp9wrMWcud.xml"},{"id":"cf8f0206.bd49f","type":"function","z":"ae2a3ca4.c1e81","name":"BBC-RSS-Parser","func":"/**\nThe msg.topic contains the original \narticle link. The msg.payload contains \nthe description, and msg.article contains the \ncomplete article object, which has properties \nsuch as .title, .summary, .date and so on.\n*/\n\nvar rout={\n    news_type: 'RSS',\n    news_produser: 'BBS-NEWS',\n    news_guid:  msg.article.guid,\n    news_link:  msg.article.link,\n    news_url:   msg.topic,\n    new_title:  msg.title,\n    news_date:  msg.article.date\n\n};\n\n\n// збираю  структуру - вкладення\nvar rnews = {};\n\nrnews = { article: msg.article,\n          topic:   msg.topic,\n          title:   msg.title,\n          payload: msg.payload\n         };\n\n\n/** Готую вкладення*/\n// 1. перевожу вкладення в string\nvar s = JSON.stringify(rnews);\n\n//2. Кодую вкладення в BASE64\nvar b = new Buffer(s);\nvar sb64 = b.toString('base64');\n\n//3. Додаю структуру attachments для вкладення файлу\nmsg.payload = {\n  \"rss\": rout,    \n  \"_attachments\": {\n    \"rss_data.json\": {\n      \"content_type\": \"application/json\",\n      \"data\": sb64\n    }\n  }\n}\n\n\n\nif (msg.payload === null){\n    \n    console.log('BBC:=' + 'msg.payload === null');\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":40,"wires":[["4abc5142.167b18","897a7c8.a3275"]]},{"id":"de96fdbc.00d7a","type":"debug","z":"ae2a3ca4.c1e81","name":"bbc.dbg.1","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":120,"wires":[]},{"id":"4abc5142.167b18","type":"debug","z":"ae2a3ca4.c1e81","name":"bbc.dbg.2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":120,"wires":[]},{"id":"897a7c8.a3275","type":"cloudantplus-selector out","z":"ae2a3ca4.c1e81","name":"BBC.dbx1.insert","cloudant":"","database":"dbx1","service":"node-red-app-cloudant-1580722484242-67617","payonly":true,"operation":"insert","x":840,"y":40,"wires":[["1bdf13ae.72f9ec"]]},{"id":"1bdf13ae.72f9ec","type":"debug","z":"ae2a3ca4.c1e81","name":"bbc.dbg.3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":120,"wires":[]},{"id":"f8c50eca.2dac48","type":"delay","z":"ae2a3ca4.c1e81","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":40,"wires":[["cf8f0206.bd49f","de96fdbc.00d7a"]]},{"id":"15dac6a8.1fe869","type":"delay","z":"ae2a3ca4.c1e81","name":"","pauseType":"rate","timeout":"400","timeoutUnits":"milliseconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":180,"wires":[["fd270c61.3e8298"]]},{"id":"adf4e062.5b0868","type":"catch","z":"ae2a3ca4.c1e81","name":"","scope":null,"uncaught":true,"x":120,"y":300,"wires":[["bbd0f343.9224d8"]]},{"id":"bbd0f343.9224d8","type":"debug","z":"ae2a3ca4.c1e81","name":"DBG.ERR","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":300,"wires":[]}]