LABS/Lab0-08/Flows/make-http_req.json
[{"id":"102959b1.9e9f86","type":"tab","label":"MakeHttpRequest","disabled":false,"info":""},{"id":"5392930e.b39ecc","type":"http request","z":"102959b1.9e9f86","name":"GetUSers","method":"GET","ret":"obj","paytoqs":false,"url":"http://dummy.restapiexample.com/api/v1/employees","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":180,"wires":[["a94d21e3.52f198","b8bc9f99.11619"]]},{"id":"deace0d.50f5e2","type":"http in","z":"102959b1.9e9f86","name":"musers","url":"/musers","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["47e5b4f6.c449cc"]]},{"id":"d5a81cae.eefec","type":"function","z":"102959b1.9e9f86","name":"ToDB","func":"/**\nThe msg.topic contains the original \narticle link. The msg.payload contains \nthe description, and msg.article contains the \ncomplete article object, which has properties \nsuch as .title, .summary, .date and so on.\n*/\n\nvar rout={\n    api_type: 'USERS_LIST',\n    api_dsc:   'USER LIST FROM API',\n    api_url: 'http://dummy.restapiexample.com/api/v1/employees'\n\n};\n\n\n// збираю  структуру - вкладення\n//var rnews = {};\n\n//rnews = { userlist:  msg.payload };\n\n\n/** Готую вкладення*/\n// 1. перевожу вкладення в string\n//var s = JSON.stringify(rnews);\n\n//2. Кодую вкладення в BASE64\n//var b = new Buffer(s);\n//var sb64 = b.toString('base64');\n\n\nvar n_msg = {} ;\nn_msg.payload = { data_dsc: rout,\n                  userlist:  msg.payload \n                } ;\n//3. Додаю структуру attachments для вкладення файлу\n/*\nn_msg.payload = {\n  \"data_dsc\": rout,    \n  \"_attachments\": {\n    \"userlist_data.json\": {\n      \"content_type\": \"application/json\",\n      \"data\": sb64\n    }\n  }\n}\n\n*/\n\n\n\n\nif (n_msg.payload === null){\n    \n    console.log('REQ ERROR:=' + 'msg.payload === null');\n}\n\nreturn n_msg;\n","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["dba6635f.c40918","2206f299.96a666"]]},{"id":"dba6635f.c40918","type":"cloudantplus-selector out","z":"102959b1.9e9f86","name":"Store","cloudant":"","database":"dbx2","service":"node-red-app-cloudant-1580722484242-67617","payonly":true,"operation":"insert","x":770,"y":140,"wires":[["a4174a99.a7171","83a066.7af2e798"]]},{"id":"f8d1441f.18f6e8","type":"comment","z":"102959b1.9e9f86","name":"URL and response","info":"# URL\n\nhttp://dummy.restapiexample.com/api/v1/employees\n\n## REsponse\n\n{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"id\": \"1\",\n      \"employee_name\": \"Tiger Nixon\",\n      \"employee_salary\": \"320800\",\n      \"employee_age\": \"61\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"2\",\n      \"employee_name\": \"Garrett Winters\",\n      \"employee_salary\": \"170750\",\n      \"employee_age\": \"63\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"3\",\n      \"employee_name\": \"Ashton Cox\",\n      \"employee_salary\": \"86000\",\n      \"employee_age\": \"66\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"4\",\n      \"employee_name\": \"Cedric Kelly\",\n      \"employee_salary\": \"433060\",\n      \"employee_age\": \"22\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"5\",\n      \"employee_name\": \"Airi Satou\",\n      \"employee_salary\": \"162700\",\n      \"employee_age\": \"33\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"6\",\n      \"employee_name\": \"Brielle Williamson\",\n      \"employee_salary\": \"372000\",\n      \"employee_age\": \"61\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"7\",\n      \"employee_name\": \"Herrod Chandler\",\n      \"employee_salary\": \"137500\",\n      \"employee_age\": \"59\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"8\",\n      \"employee_name\": \"Rhona Davidson\",\n      \"employee_salary\": \"327900\",\n      \"employee_age\": \"55\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"9\",\n      \"employee_name\": \"Colleen Hurst\",\n      \"employee_salary\": \"205500\",\n      \"employee_age\": \"39\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"10\",\n      \"employee_name\": \"Sonya Frost\",\n      \"employee_salary\": \"103600\",\n      \"employee_age\": \"23\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"11\",\n      \"employee_name\": \"Jena Gaines\",\n      \"employee_salary\": \"90560\",\n      \"employee_age\": \"30\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"12\",\n      \"employee_name\": \"Quinn Flynn\",\n      \"employee_salary\": \"342000\",\n      \"employee_age\": \"22\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"13\",\n      \"employee_name\": \"Charde Marshall\",\n      \"employee_salary\": \"470600\",\n      \"employee_age\": \"36\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"14\",\n      \"employee_name\": \"Haley Kennedy\",\n      \"employee_salary\": \"313500\",\n      \"employee_age\": \"43\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"15\",\n      \"employee_name\": \"Tatyana Fitzpatrick\",\n      \"employee_salary\": \"385750\",\n      \"employee_age\": \"19\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"16\",\n      \"employee_name\": \"Michael Silva\",\n      \"employee_salary\": \"198500\",\n      \"employee_age\": \"66\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"17\",\n      \"employee_name\": \"Paul Byrd\",\n      \"employee_salary\": \"725000\",\n      \"employee_age\": \"64\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"18\",\n      \"employee_name\": \"Gloria Little\",\n      \"employee_salary\": \"237500\",\n      \"employee_age\": \"59\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"19\",\n      \"employee_name\": \"Bradley Greer\",\n      \"employee_salary\": \"132000\",\n      \"employee_age\": \"41\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"20\",\n      \"employee_name\": \"Dai Rios\",\n      \"employee_salary\": \"217500\",\n      \"employee_age\": \"35\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"21\",\n      \"employee_name\": \"Jenette Caldwell\",\n      \"employee_salary\": \"345000\",\n      \"employee_age\": \"30\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"22\",\n      \"employee_name\": \"Yuri Berry\",\n      \"employee_salary\": \"675000\",\n      \"employee_age\": \"40\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"23\",\n      \"employee_name\": \"Caesar Vance\",\n      \"employee_salary\": \"106450\",\n      \"employee_age\": \"21\",\n      \"profile_image\": \"\"\n    },\n    {\n      \"id\": \"24\",\n      \"employee_name\": \"Doris Wilder\",\n      \"employee_salary\": \"85600\",\n      \"employee_age\": \"23\",\n      \"profile_image\": \"\"\n    }\n  ]\n}","x":150,"y":360,"wires":[]},{"id":"a94d21e3.52f198","type":"debug","z":"102959b1.9e9f86","name":"DBG.1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":280,"wires":[]},{"id":"2206f299.96a666","type":"debug","z":"102959b1.9e9f86","name":"DBG.2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":460,"wires":[]},{"id":"a4174a99.a7171","type":"debug","z":"102959b1.9e9f86","name":"DBG.3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":300,"wires":[]},{"id":"83a066.7af2e798","type":"function","z":"102959b1.9e9f86","name":"PrepareResponse","func":"\n\nmsg.req=flow.get( 'flw-orig-req');\nmsg.res=flow.get( 'flw-orig-res');\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["8aeb5bf7.9c22b8","81ae7d38.b32358"]]},{"id":"8aeb5bf7.9c22b8","type":"http response","z":"102959b1.9e9f86","name":"","statusCode":"","headers":{},"x":1050,"y":320,"wires":[]},{"id":"47e5b4f6.c449cc","type":"function","z":"102959b1.9e9f86","name":"SetConext","func":"\nflow.set( 'flw-orig-req', msg.req);\nflow.set( 'flw-orig-res', msg.res);\n\n\n// array itarator\nvar itr=0 ;\nflow.set( 'flw-iterator', itr);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["5392930e.b39ecc"]]},{"id":"94e4a643.457578","type":"function","z":"102959b1.9e9f86","name":"ToDBWithAttachmant","func":"/**\nThe msg.topic contains the original \narticle link. The msg.payload contains \nthe description, and msg.article contains the \ncomplete article object, which has properties \nsuch as .title, .summary, .date and so on.\n*/\n\nvar rout={\n    api_type: 'USERS_LIST',\n    api_dsc:   'USER LIST FROM API',\n    api_url: 'http://dummy.restapiexample.com/api/v1/employees'\n\n};\n\n\n// збираю  структуру - вкладення\nvar rnews = {};\n\nrnews = { userlist:  msg.payload };\n\n\n/** Готую вкладення*/\n// 1. перевожу вкладення в string\nvar s = JSON.stringify(rnews);\n\n//2. Кодую вкладення в BASE64\nvar b = new Buffer(s);\nvar sb64 = b.toString('base64');\n\n\nvar n_msg = {} ;\nn_msg.payload={};\n\n//3. Додаю структуру attachments для вкладення файлу\n\nn_msg.payload = {\n  \"data_dsc\": rout,    \n  \"_attachments\": {\n       \"users.json\": {\n            \"content_type\": \"application/json\",\n            \"data\": sb64\n        }\n   }\n};\n\n\n\n\n\n\nif (n_msg.payload === null){\n    \n    console.log('REQ ERROR:=' + 'msg.payload === null');\n}\n\nreturn n_msg;\n","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["2206f299.96a666","dba6635f.c40918"]]},{"id":"b8bc9f99.11619","type":"function","z":"102959b1.9e9f86","name":"PropagateByOne","func":"\n\n\nvar msgs = [];\nfor (var i = 0; i< msg.payload.data.length; i++) {\n  msgs.push({item: msg.payload.data[i]});\n}\n\nvar n_msg={};\n//n_msg.payload = null ;\n//n_msg.payload.xdata = null ;\nn_msg.array = msgs\nn_msg.payload={xdata:  msgs};\n//n_msg.al30d51c4539f5dc='OK';\n\n//flow.set( 'flw-iterator', n_msg.payload.xdata.length);\n//n_msg.payload.itr=n_msg.payload.data.length ;\n\n//return [msgs]\nreturn n_msg \n\n\n\n","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["fd06b97f.8ba178","4c82ec7d.ce049c"]]},{"id":"ce413f04.a213e8","type":"delay","z":"102959b1.9e9f86","name":"RateLimit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":700,"wires":[["515db0e8.7d004"]]},{"id":"5d6f7b5e.9c6ba4","type":"comment","z":"102959b1.9e9f86","name":"Call URL","info":"HTTP GET\nconent-type: application/json\nhttps://nod-red-wshp.eu-gb.mybluemix.net/musers","x":120,"y":580,"wires":[]},{"id":"fd06b97f.8ba178","type":"array-loop","z":"102959b1.9e9f86","name":"ArrayLoop","key":"al30d51c4539f5dc","keyType":"msg","reset":true,"resetValue":"value-null","array":"array","arrayType":"msg","x":420,"y":680,"wires":[["7919ff73.2efac8","3dcfe298.e94e3e"],["1f95d341.1e765d","ce413f04.a213e8"]]},{"id":"9379bd78.d2c0c8","type":"cloudantplus-selector out","z":"102959b1.9e9f86","name":"Store","cloudant":"","database":"dbx2","service":"node-red-app-cloudant-1580722484242-67617","payonly":true,"operation":"insert","x":870,"y":760,"wires":[["4dd04452.606e2c"]]},{"id":"515db0e8.7d004","type":"function","z":"102959b1.9e9f86","name":"CheckCondition","func":"\n//var itr=flow.get( 'flw-iterator');\n//itr = itr -1 ;\n//if ( itr<=0 ) {\n//msg.al30d51c4539f5dc=null;\n  // flow.set( 'flw-iterator', null);    \n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":840,"wires":[["fd06b97f.8ba178","2a5b4052.cf04a","9379bd78.d2c0c8"]]},{"id":"7919ff73.2efac8","type":"function","z":"102959b1.9e9f86","name":"SendFinalResponse","func":"\nvar n_msg={};\nn_msg.payload={ok: true, xtxt: 'SUCCESS'};\n\nreturn n_msg;","outputs":1,"noerr":0,"x":670,"y":620,"wires":[["83a066.7af2e798"]]},{"id":"4c82ec7d.ce049c","type":"debug","z":"102959b1.9e9f86","name":"DBG.4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":200,"y":660,"wires":[]},{"id":"1f95d341.1e765d","type":"debug","z":"102959b1.9e9f86","name":"DBG.5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":740,"wires":[]},{"id":"4dd04452.606e2c","type":"debug","z":"102959b1.9e9f86","name":"DBG.6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":680,"wires":[]},{"id":"2a5b4052.cf04a","type":"debug","z":"102959b1.9e9f86","name":"DBG.7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":920,"wires":[]},{"id":"cfd94fe2.27ea1","type":"catch","z":"102959b1.9e9f86","name":"","scope":null,"uncaught":false,"x":840,"y":60,"wires":[["e2af9fdd.736028","fd2899.0294df68"]]},{"id":"e2af9fdd.736028","type":"function","z":"102959b1.9e9f86","name":"ErrorResponse","func":"var n_msg = {} ;\n\nn_msg.payload = {ok:  false, xtxt: msg.error};\n\nreturn n_msg;","outputs":1,"noerr":0,"x":1080,"y":100,"wires":[["83a066.7af2e798","ee024f51.b9486"]]},{"id":"ee024f51.b9486","type":"debug","z":"102959b1.9e9f86","name":"DBG.Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":60,"wires":[]},{"id":"fd2899.0294df68","type":"debug","z":"102959b1.9e9f86","name":"DBG.ERROR.CATCH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":40,"wires":[]},{"id":"3dcfe298.e94e3e","type":"debug","z":"102959b1.9e9f86","name":"DBG.7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":520,"wires":[]},{"id":"81ae7d38.b32358","type":"debug","z":"102959b1.9e9f86","name":"DBG.8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1200,"y":200,"wires":[]}]