LABS/Lab0-04/Flows/flow-2-globalcontext.json
[{"id":"a0d83425.f86038","type":"tab","label":"Context-test","disabled":false,"info":""},{"id":"b3cf000c.f2ce2","type":"http in","z":"a0d83425.f86038","name":"/add data","url":"/add","method":"post","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["f72a7c75.a1281","97eae2e1.a4b7"]],"info":"\nURL\nhttps://nod-red-wshp.eu-gb.mybluemix.net/add\n\nHEaders:\n\nConetent-type: application/json\n\nMesage:\n\n{\n    \"xto\": \"ivan\",\n    \"xfrom\": \"petro\",\n    \"xsubj\": \"read the book\",\n    \"xmsg\": \"Hi I am here!\"\n      \n}"},{"id":"3cde6da.2119992","type":"http response","z":"a0d83425.f86038","name":"","statusCode":"","headers":{},"x":930,"y":220,"wires":[]},{"id":"f72a7c75.a1281","type":"debug","z":"a0d83425.f86038","name":"DBG1.1","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":110,"y":220,"wires":[]},{"id":"97eae2e1.a4b7","type":"function","z":"a0d83425.f86038","name":"StoreData","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["4e64001b.d1a3d","4b0f87cb.9c0718"]]},{"id":"4e64001b.d1a3d","type":"debug","z":"a0d83425.f86038","name":"DBG1.2","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":280,"wires":[]},{"id":"4b0f87cb.9c0718","type":"function","z":"a0d83425.f86038","name":"ProcessReq","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["85567f7e.76a8e","39977817.7e7dd"]]},{"id":"85567f7e.76a8e","type":"function","z":"a0d83425.f86038","name":"prepareResponse","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["3cde6da.2119992","e81b07f5.f78508"]]},{"id":"39977817.7e7dd","type":"debug","z":"a0d83425.f86038","name":"DBG1.3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":220,"wires":[]},{"id":"e81b07f5.f78508","type":"debug","z":"a0d83425.f86038","name":"DBG.1.4","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":280,"wires":[]}]