LABS/Lab0-05/Flows/flow-1-lib-callback.json
[{"id":"670ab57a.916fbc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"659678bf.9b8738","type":"function","z":"670ab57a.916fbc","name":"get uuid","func":"//const uuidv4 = require('uuid/v4');\nvar uuidv4 = global.get('uuidv4');\nvar xrss = global.get('rsstojson');\n\nlet IdRec = uuidv4();\n\nmsg.payload={uuid: IdRec, xuuid: 'uuidv4', xxrss: xrss};\n\nxrss.load('https://learnstartup.net/feed/', function(err, rss){\n    console.log(rss);\n    msg.payload.rss=rss\n    node.send(msg);\n});\n\nreturn ;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["4440bc6e.b531b4","4f7c4354.ce5c54"]]},{"id":"87dc82a.165308","type":"http in","z":"670ab57a.916fbc","name":"rid","url":"/rid","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["659678bf.9b8738","fd5dc316.8f41f"]]},{"id":"4440bc6e.b531b4","type":"http response","z":"670ab57a.916fbc","name":"","statusCode":"","headers":{},"x":730,"y":140,"wires":[]},{"id":"fd5dc316.8f41f","type":"debug","z":"670ab57a.916fbc","name":"DBG1.1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":260,"wires":[]},{"id":"4f7c4354.ce5c54","type":"debug","z":"670ab57a.916fbc","name":"DBG1.2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":260,"wires":[]},{"id":"31fb57be.53583","type":"catch","z":"670ab57a.916fbc","name":"","scope":null,"uncaught":false,"x":540,"y":400,"wires":[["ced8781e.b0a288"]]},{"id":"ced8781e.b0a288","type":"debug","z":"670ab57a.916fbc","name":"Error.LOG","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":400,"wires":[]}]