LABS/Lab0-03/flows.json
[{"id":"32944d4.95faeb2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ec8c35b.d7e85","type":"http in","z":"32944d4.95faeb2","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":310,"y":300,"wires":[["258c064e.c253aa","5c6f77c2.1a2a3"]]},{"id":"558eb976.c85408","type":"http response","z":"32944d4.95faeb2","name":"","statusCode":"","headers":{},"x":980,"y":320,"wires":[]},{"id":"258c064e.c253aa","type":"function","z":"32944d4.95faeb2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["558eb976.c85408","20d151d6.4b4f36"]]},{"id":"20d151d6.4b4f36","type":"debug","z":"32944d4.95faeb2","name":"DBG2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":400,"wires":[]},{"id":"5c6f77c2.1a2a3","type":"debug","z":"32944d4.95faeb2","name":"DBG1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":420,"wires":[]}]