LABS/Lab0-07/Flows/flow-test-cases.json
[{"id":"242b6df9.9ac1e2","type":"tab","label":"GET-HEALTH","disabled":false,"info":""},{"id":"eafedd3b.ce9b28","type":"tab","label":"POST-TEST","disabled":false,"info":""},{"id":"53d8e615.c96a08","type":"tab","label":"GET-PRM","disabled":false,"info":""},{"id":"7e9882a.a74e9fc","type":"cos-config","z":"","apiKeyId":"M2Yl0DLXJ0zNDqqSeRh70Emipcj7rx1ALZGKK3SKGZfU","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"cloud-object-storage-r","hmac":false,"accesskeyid":"","accesskey":"","name":"COS"},{"id":"d64df37e.b7a5f","type":"cos-config","z":"","apiKeyId":"M2Yl0DLXJ0zNDqqSeRh70Emipcj7rx1ALZGKK3SKGZfU","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"cloud-object-storage-r","hmac":false,"accesskeyid":"","accesskey":"","name":"COS"},{"id":"4ef05f6e.08685","type":"http in","z":"242b6df9.9ac1e2","name":"Get /health","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["199d024a.65b08e","44e66b.79366994"]]},{"id":"dc00108.df197f","type":"http response","z":"242b6df9.9ac1e2","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"199d024a.65b08e","type":"function","z":"242b6df9.9ac1e2","name":"PrepareResponse","func":"\nlet rsp = {};\n\nresp = {status: 'UP'};\nmsg.payload = resp ;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["dc00108.df197f","f248d122.367be8"]]},{"id":"44e66b.79366994","type":"debug","z":"242b6df9.9ac1e2","name":"DBG-1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":220,"wires":[]},{"id":"f248d122.367be8","type":"debug","z":"242b6df9.9ac1e2","name":"DBG-2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":220,"wires":[]},{"id":"cd8404d3.be3ff8","type":"debug","z":"eafedd3b.ce9b28","name":"DBG-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":240,"wires":[]},{"id":"c014d49f.68eb98","type":"debug","z":"eafedd3b.ce9b28","name":"DBG-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":240,"wires":[]},{"id":"8942e3df.0a15c8","type":"function","z":"eafedd3b.ce9b28","name":"processReq","func":"\n/**\n * req={ actype: \"CARD\", acc: \"262500011330\"  }\n */\n\n\nvar rsp = {};\n\nvar req_actype = msg.payload.actype ;\nvar req_acc = msg.payload.acc ;\nvar req_bal = 124.54 ;\nvar req_acname = 'Транзитний рахунок хитрого обліку' ;\n\nrsp={ actype: req_actype,\n      acc:    req_acc,\n      bal:    req_bal,\n      acname: req_acname\n}\n\nmsg.payload = rsp ;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["eeaa3afd.468048","cd8404d3.be3ff8"]]},{"id":"e00d6033.1d972","type":"http in","z":"eafedd3b.ce9b28","name":"process acc","url":"/acc","method":"post","upload":false,"swaggerDoc":"","x":240,"y":140,"wires":[["8942e3df.0a15c8","c014d49f.68eb98"]]},{"id":"eeaa3afd.468048","type":"http response","z":"eafedd3b.ce9b28","name":"","statusCode":"","headers":{},"x":680,"y":160,"wires":[]},{"id":"c25bbd0b.b3da58","type":"debug","z":"53d8e615.c96a08","name":"DBG-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":240,"wires":[]},{"id":"78a33fee.5031e","type":"debug","z":"53d8e615.c96a08","name":"DBG-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":240,"wires":[]},{"id":"30492070.fe97f","type":"function","z":"53d8e615.c96a08","name":"processReq","func":"\n/**\n * req={ actype: \"CARD\", acc: \"262500011330\"  }\n */\n\n\nx_prm1 = msg.req.query.id ;\nx_prm2 = msg.req.query.dt ;\n\nvar rsp = {};\n\nvar req_bal = 124.54 ;\nvar req_acname = 'Транзитний рахунок хитрого обліку' ;\n\nrsp={ id:     x_prm1,\n      dt:     x_prm2,\n      bal:    req_bal,\n      acname: req_acname\n}\n\nmsg.payload = rsp ;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["d3db2d58.f853f8","c25bbd0b.b3da58"]]},{"id":"bddfe3d1.90a568","type":"http in","z":"53d8e615.c96a08","name":"get accs","url":"/accs","method":"get","upload":false,"swaggerDoc":"","x":230,"y":140,"wires":[["30492070.fe97f","78a33fee.5031e"]]},{"id":"d3db2d58.f853f8","type":"http response","z":"53d8e615.c96a08","name":"","statusCode":"","headers":{},"x":680,"y":160,"wires":[]}]